<div class="paginiation">
  {%- if paginator.previous_page -%}
    <li>
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagi__icon prev" id="btnPrev">
        <svg width="40" height="40">
          <circle class="circle-progress" r="18" cy="20" cx="20"  stroke-linejoin="round" stroke-linecap="round" />
        </svg>
        <span class="pagi__icon_arrow"></span>
      </a>
    </li>
  {%- endif -%}

  {%- if paginator.total_pages > 1 -%}
    {% for page in (1..paginator.total_pages) %}
      <li> 
        {% if page == 1 %}
          <a href="{{ '/' | relative_url }}" class="pagi__link{% if page == paginator.page %} active{% endif %}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="pagi__link{% if page == paginator.page %} active{% endif %}">{{ page }}</a>
        {%- endif -%}
    </li>
    {% endfor %}
  {%- endif -%}

  {%- if paginator.next_page -%}
    <li>
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagi__icon next" id="btnNext">
        <svg width="40" height="40">
          <circle class="circle-progress" r="18" cy="20" cx="20"  stroke-linejoin="round" stroke-linecap="round" />
        </svg>
        <span class="pagi__icon_arrow"></span>
      </a>
    </li>
  {%- endif -%}
</div>
